<!DOCTYPE html>
<html>
  <head>
    <%include template/head %>
    <link rel="icon" href="img/icon.png">
    <title>Quên mật khẩu</title>
  </head>
  <body>
    <div style="text-align: center">
      <div style="margin: 0 20%; height: 100px; background: #f3f3f3">
        <p>Để được cấp lại mật khẩu, hãy nhập địa chỉ email của bạn.</p>
        <form action="quenmatkhau" method="post" accept-charset="utf-8">
          <input type="text" name="email">
          <input type="submit" value="Xác nhận">
        </form>
      </div>
    </div>

  </body>
</html>
