<!DOCTYPE html>
<html>
  <head>
    <%include template/head %>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>IShare - Chia sẻ tài liệu sinh viên</title>
    <style type="text/css" media="screen">
        .scrollspy-example {
            position: relative;
            max-height: 300px;
            margin-top: .5rem;
            overflow: auto;
        }
    </style>   
  </head>
  <body>
    <!--Start header -->
    <%include template/header%>
    <!-- End header -->

    <!--Start menu -->
    <%include template/menu%>
    <!-- End menu -->

    <!--Start body -->
    <%include template/bodyhome%>
    <!-- End body -->

    <!--Start footer-->
    <%include template/footer%>
    <!-- End footer -->

    <%include template/script%>
  </body>
</html>
