<!DOCTYPE html>
<html>
<head>
    <% include template/head %>
    <link rel="icon" href="img/icon.png">
    <title>Cấp lại mật khẩu</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <h1>Nhập mật khẩu mới để thay đổi mật khẩu</h1>
    <form action="caplaimatkhau" method="post" accept-charset="utf-8">
      <input type="text" name="id" value="<%=id%>" hidden><br><br>
      <input type="password" name="password" placeholder="Nhập mật khẩu mới" minlength="3"><br><br>
      <input type="password" name="re-password" placeholder="Nhập lại mật khẩu mới" minlength="3"><br><br>
      <input type="submit" value="Xác nhận">
    </form>

    <%include template/script%>
    
    <script type="text/javascript">
        var submit = document.querySelector('input[type="submit"]');
        submit.onclick = function() {
            var password = document.querySelector('input[name="password"]').value;
            var repassword = document.querySelector('input[name="re-password"]').value;
            if (password == repassword) {
                return true;
            } else {
                alert('Mật khẩu nhập lại không đúng!');
                return false;
            }
        }
    </script>
</body>
</html>
