<footer class="page-footer font-small bg-dark text-white pt-4 mt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
                <!-- Content -->
                <h5 class="text-uppercase">ENEWS</h5>
                <p>Chuyên trang tin tức đa dạng thể loại.</p>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->
                <h5 class="text-uppercase">thể loại</h5>

                <ul class="list-unstyled">
                    <li><a href="theloai/cong-nghe" class="text-white">Công nghệ</a></li>
                    <li><a href="theloai/bong-da" class="text-white">Bóng đá</a></li>
                    <li><a href="theloai/du-lich" class="text-white">Du lịch</a></li>
                    <li><a href="theloai/suc-khoe" class="text-white">Sức khoẻ</a></li>
                </ul>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Thông tin liên hệ</h5>

                <ul class="list-unstyled">
                    <li><a class="text-white" target="blank" href="https://www.facebook.com/canhtoan.888">Nguyễn Cảnh Toàn</a></li>
                    <li><a class="text-white" target="blank" href="https://www.facebook.com/profile.php?id=100004717664150">Nguyễn Đức Thắng</a></li>
                    <li>Số điện thoại: 0585798788</li>
                </ul>

              </div>
              <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center bg-secondary py-3">
        <span class="text-light">© 2019 Copyright:</span>
        <a href="/index.ejs" class="text-white">Enews.com</a>
    </div>
    <!-- Copyright -->

</footer>