<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/index">ENEWS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-2 kind">
              <a class="nav-link btn-dark" href="/theloai/cong-nghe">Công nghệ<span class="sr-only"></span></a>
            </li>
            <li class="nav-item mx-2 kind">
              <a class="nav-link btn-dark" href="/theloai/bong-da">Bóng đá<span class="sr-only"></span></a>
            </li>
            <li class="nav-item mx-2 kind">
              <a class="nav-link btn-dark" href="/theloai/du-lich">Du lịch<span class="sr-only"></span></a>
            </li>
            <li class="nav-item mx-2 kind">
              <a class="nav-link btn-dark" href="/theloai/suc-khoe">Sức khoẻ<span class="sr-only"></span></a>
            </li>
          </ul>
          <form action="/timkiembaiviet" method="post" class="form-inline">
            <input class="form-control mr-sm-2" type="search" name="searchContent" placeholder="Tìm kiếm bài viết" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Tìm kiếm</button>
          </form>
        </div>
    </div>
</nav>