<link rel="icon" href="../img/icon.png">
<link rel="stylesheet" type="text/css" href="../css/notfound.css">
<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h1>404</h1>
		</div>
		<h2>Không tìm thấy kết quả!</h2>
		<form action="/timkiembaiviet" method="post" class="notfound-search">
			<input type="text" name="searchContent" placeholder="Tìm kiếm bài viết ...">
			<button type="button">Tìm kiếm</button>
		</form>
		<a href="/"><span class="arrow"></span>Quay lại trang chủ</a>
	</div>
</div>